<main role="main" class="container">
    <div class="row">
        <div class="col-md-8">
            {% block body %}
              
            {% endblock body %}
        </div>
        <div class="col-md-4">
            <div class="body-section">
                <h3>Our Sidebar</h3>
                <p class="text-muted">
                    You can put any information here you'd like.
                    <ul class="list-group">
                        <li class="list-group-item list-group-light">Lastest Post</li>
                        <li class="list-group-item list-group-light">Annoucement</li>
                        <li class="list-group-item list-group-light">Calendars</li>
                        <li class="list-group-item list-group-light">etc</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</main>