{% extends "base_blog.html" %}

{% block body %}
  <article class="media content-section mt-3">
    <img class="rounded-circle account-img" src="{{ object.author.profile.image.url }}" alt="Author's Image">
      <div class="media_body">
          <div class="article-metadata">
              <a class="mr-2" href={% url 'user_posts' object.author.username %}}>{{ object.author }}</a>
              <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
          </div>
          <h2 class="article-title">{{ object.title }}</h2>
          <p class="article-content">{{ object.content }}</p>
          <div >
            <a class="btn btn-outline-info" href="{% url 'post_update' object.id %}">Update</a>
            <a class="btn btn-outline-danger" href="{% url 'post_delete' object.id %}">Delete</a>
        </div>
      </div>
  </article>
  
{% endblock body %}